* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
}

#body {
    width: 100vw;
    height: 100lvh;
    background-image: url("../assets/sololight.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scrollbar-width: 0;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: GreatVibes;
    src: url("../assets/fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Vonique64;
    src: url("../assets/fonts/Vonique\ 64.ttf") format("truetype");
}

@keyframes parallax {
    to {
        translate: 0 calc(var(--parallax-speed) * 50px);
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadein2 {
    0% {
        opacity: 0%;
        visibility: hidden;
    }

    90% {
        opacity: 0%;
        visibility: hidden;
    }

    100% {
        opacity: 100%;
        visibility: visible;
    }
}

#title {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

#titlename {
    animation: fadein 5s;
}

.stamp {
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .4em;
    padding-bottom: .2em;

    background-color: black;
    border-color: rgb(255, 255, 255);
    border-width: .1em;
    border-style: solid;
    box-shadow: 0 25px 20px -20px black;

    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    text-align: center;
    font-family: GreatVibes;
    font-size: 6vh;
    color: white;

    user-select: none;
}

.container {
    height: 500vh;
}

.card {
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    font-family: Vonique64;
    font-size: 6vh;
    color: white;
    text-shadow: 0 15px 10px black;
}

.entry {
    font-size: 9vmin;
    user-select: none;
}

#techenthusiast {
    height: calc(100vh - (9vh * 4));
}

#traveler {
    height: calc(100vh - (9vh * 4));
    translate: 0 calc(9vmin * 1);
}

#foodie {
    height: calc(100vh - (9vh * 4));
    translate: 0 calc(9vmin * 2);
}

#coddingdabbler {
    height: calc(100vh - (9vh * 4));
    translate: 0 calc(9vmin * 3);
}

#socialmedia {
    height: calc(100vh - (9vh * 4));
    translate: 0 calc(9vmin * 4);
}

a:hover {
    text-shadow: 0 0 5px white;
}

#socials {
    height: 200vh;
    width: 100vw;
}

.socials {
    position: fixed;
    top: 50vh;

    animation: fadein2 linear;
    animation-timeline: scroll();
}

.fa-house {
    transform: scale(90%);
}